
body {
	font-family:"Mitr", sans-serif;
    align-content: center;
    color:white;
    height:100%;
    margin:0;
    background-image:url("https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    }

/*input*/
input[type="text"],input[type="password"] {
	width: 200px;
    padding: 10px 15px;
    margin: 8px;
    border: 0;
    box-sizing: content-box;
	background-color:rgb(255, 255, 255, 0.65);
	border-radius:4px;
	-webkit-box-shadow: 0 5px 20px rgba(255,255,255,.5);
	box-shadow: 0 5px 20px rgba(255,255,255,.5);
    }

/*login button*/
button {
	font-family:"Mitr";font-size:16px;
	background-color: #008080;
    color: white;
    padding: 6px ;
    margin: 20px ;
    border: none;
    cursor: pointer;
	border-radius: 4px;
	width:100px;
    }

/*cancle button*/
.rebtn {
	background-color: #A52A2A;
	}

/*background*/
.bg {
	background-image:url("https://img.purch.com/rc/1920x1200/aHR0cDovL3d3dy5zcGFjZS5jb20vaW1hZ2VzL2kvMDAwLzA0My8zMjgvb3JpZ2luYWwvYXJvdW5kLWEtc3Rhci1zeXN0ZW0tMTkyMC5qcGc=");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}

/*label*/
label {
	display:line-block;
	color:white;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	}

table,td,th {
	border:0;
	}

table {
	width:300px;
	}

.row:after {
    clear: both;
	}
